<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JoanCEdwards.DAO.Properties.Settings.EdwardsFoundationConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\EdwardsFoundation.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="JoanCEdwards.DAO.Properties.Settings.EdwardsFoundationConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Dev\EdwardsFoundation\EdwardsFoundation.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>