<?xml version="1.0"?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<remove name="JoanCEdwards.DAO.Properties.Settings.EdwardsFoundationConnectionString"/>
		<add name="DataBaseConnection" connectionString="Data Source=localhost;Initial Catalog=AllSites;Integrated Security=SSPI;"/>
		<add name="JoanCEdwards.DAO.Properties.Settings.EdwardsFoundationConnectionString" connectionString="Data Source=localhost;Initial Catalog=AllSites;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<profile enabled="true">
			<properties>
				<add name="FirstName" type="string"/>
				<add name="LastName" type="string"/>
				<add name="GraduatingClassYear" type="Int32"/>
				<add name="StreetAddress1" type="string"/>
				<add name="StreetAddress2" type="string"/>
				<add name="City" type="string"/>
				<add name="State" type="string"/>
				<add name="ZipCode" type="string"/>
			</properties>
		</profile>
		<!-- membership provider -->
		<roleManager enabled="true" cacheRolesInCookie="true" createPersistentCookie="true">
			<providers>
				<add applicationName="/" connectionStringName="DataBaseConnection" name="DefaultRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add connectionStringName="DataBaseConnection" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Clear" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" name="DefaultMembershipProvider" type="System.Web.Security.SqlMembershipProvider"/>
			</providers>
		</membership>
		<authentication mode="Forms">
			<forms name=".ExamApplication" loginUrl="login.aspx" protection="All" timeout="30" path="/">
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- Authentication Pages -->
	<location path="public">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
